#container {
  width: 1200px;
}

#main {
  background: #afa;
  width: 700px;
  float: right;
  padding: 10px;
}

#sidebar {
  border: #00f 1px solid;
  width: 400px;
  padding: 10px;
  float: left;
}

#TextBoxTitle {
  width: 100%;
}

#TextBoxDesc {
  width: 100%;
  height: 500px;
}

div.submit {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  height: 30px;
  width: 500px;
}

div.submit input {
  border-radius: 18px;
  text-align: center;
  position: absolute;
  top: 0px;
  /*left: 320px;*/
}

#accordion {
  width: 300px;
  border-top: 1px solid #CCC;
}

#accordion .accordion_toggle {
  width: 398px;
  text-indent: 10px;
  font-weight: normal;
  font-size: 15px;
  height: 24px;
  cursor: pointer;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  line-height: 25px;

}

#accordion .accordion_content {
  width: 378px;
  background: #F4F7FB;
  overflow: hidden;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 10px;
}
